<div class="contenedor">
  <div class="box">
    <app-navbar></app-navbar>
    <!-- <div class="con-input">
      <div class="input-file-container">
        <input id="file-input" (change)="subirArchivo($event)" type="file" />
        <label for="file-input" class="file-label">
          <i class="fas fa-plus"></i>
          Agregar musica
        </label>
      </div>
    </div> -->
    <div style="color: chocolate;" class="musica-container">
      <div *ngFor="let music of musica" class="musica">
        <p style="margin-bottom: 10px;">{{ music.title }}</p>
        <audio controls>
          <source [src]="music.url" type="audio/mp3" />
        </audio>
      </div>
    </div>
  </div>
</div>
