<!-- <div>
  <input (change)="subirArchivo($event)" type="file">
</div>
<div *ngFor="let image of images">
  <img [src]="image" alt="">
</div> -->
<div class="contenedor">
  <div class="box">
    <div class="caja">
        <nav>
            <a class="nav-link" routerLink="/main">INICIO</a>
            <a class="nav-link" routerLink="/galeria">IMAGENES</a>
            <a class="nav-link" routerLink="/videos">VIDEOS</a>
            <a class="nav-link" routerLink="/musica">MUSICA</a>
        </nav>
    </div>
  </div>
</div>
