<div *ngIf="!loading" style="margin-top: 8%">
  <form class="login-form" (ngSubmit)="registrar()" #loginForm="ngForm" [formGroup]="registrarUsuario">
    <h2 class="elH2">Asi Somos Asi Bailamos</h2>
    <h2 class="form-title">REGISTRARSE</h2>
    <div class="form-group">
      <label for="username">Nombre de Usuario</label>
      <input
        type="text"
        name="username"
        placeholder="Nombre de Usuario"
        formControlName="username"
      />
      <span
        *ngIf="
          registrarUsuario.get('username')?.hasError('required') &&
          registrarUsuario.get('username')?.touched
        "
        class="text-danger errorLabel"
        >El <strong>nombre de usuario</strong> es requerido</span
      >
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input
        type="email"
        name="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
      <span
        *ngIf="
          registrarUsuario.get('email')?.hasError('required') &&
          registrarUsuario.get('email')?.touched
        "
        class="text-danger errorLabel"
        >El <strong>correo </strong>es requerido</span
      >
      <span
        *ngIf="
          registrarUsuario.get('email')?.hasError('email') &&
          registrarUsuario.get('email')?.touched
        "
        class="text-danger errorLabel"
        >El <strong>correo </strong>es inválido</span
      >
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        formControlName="password"
      />
      <span
        *ngIf="
          registrarUsuario.get('password')?.hasError('required') &&
          registrarUsuario.get('password')?.touched
        "
        class="text-danger errorLabel"
        >La <strong>contraseña </strong>debe contener más de 6 caracteres</span
      >
    </div>
    <div class="form-group">
      <label for="repetirPassword">Repetir Contraseña</label>
      <input
        type="password"
        name="password"
        placeholder="Repetir contraseña"
        formControlName="repetirPassword"
      />
    </div>
    <div style="display: flex; gap: 2px">
      <button
        style="background-color: blue"
        type="button"
        routerLink="/login"
        class="submit-button"
      >
        Volver
      </button>
      <button [disabled]="registrarUsuario.invalid" type="submit" class="submit-button">Registrar</button>
    </div>
  </form>
</div>
<div *ngIf="loading" style="display: flex; height: 90vh; flex-direction: column; justify-content: center; align-items: center;">
  <h2 class="elH2">Asi Somos Asi Bailamos</h2>
  <span style="margin-bottom: 18px">Registrando...</span>
  <app-spinner></app-spinner>
</div>

