<div>
  <div>
    <div class="log">
        <span class="verperfil" style="cursor: pointer;" (click)="verPerfil()">Hola {{usuarioActual}}</span>
        <span style="cursor: pointer;" (click)="logout()">Salir</span>
    </div>
  </div>
  <div class="caja">
        <a class="nav-link" routerLink="/main">INICIO</a>
        <a class="nav-link" routerLink="/galeria">IMAGENES</a>
        <a class="nav-link" routerLink="/videos">VIDEOS</a>
        <a class="nav-link" routerLink="/musica">MUSICA</a>
    </div>
</div>
<div>
  <div class="modal" *ngIf="modal">
    <div class="modal-con">
      <span (click)="close()" class="fas fa-times lax"></span>
      <div style="text-align: center">
        <p>
          Primero debes
          <a class="iniciar" (click)="salir()">Iniciar Sesion</a> o
          <a class="registrar" routerLink="/registrar">Registrate</a>
        </p>
      </div>
    </div>
  </div>
</div>
