<div style="user-select: none;" >
  <div>
    <div class="log">
      <span
        class="verperfil"
        style="text-shadow: 3px 1px 2px #1669c1; cursor: pointer; color: white"
        (click)="verPerfil()"
        >Hola {{ usuarioActual }}</span
      >
      <span
        style="text-shadow: 3px 1px 2px #c11b16; cursor: pointer; color: white"
        (click)="logout()"
        >Salir</span
      >
    </div>
  </div>
  <div class="caja">
    <a class="nav-link" routerLink="/main">INICIO</a>
    <a class="nav-link" routerLink="/galeria">IMAGENES</a>
    <a class="nav-link" routerLink="/videos">VIDEOS</a>
    <a class="nav-link" routerLink="/musica">MUSICA</a>
  </div>
</div>
<div>
  <div class="modal" *ngIf="modal">
    <div class="modal-con">
      <span (click)="close()" class="fas fa-times lax"></span>
      <div style="text-align: center">
        <p>
          Primero debes
          <a class="iniciar" (click)="salir()">Iniciar Sesion</a> o
          <a class="registrar" routerLink="/registrar">Registrate</a>
        </p>
      </div>
    </div>
  </div>
</div>
