
.img-container{
  gap: 1rem;
    border-radius: 12px;
    display: flex;
    height: 18vh;
    align-items: flex-end;
    box-shadow: 0 0 12px rgba(0, 0, 0, 26.1);
}
.user-info img {
  border-radius: 13px;
}
.lap{
  border-radius: 7px;
    background: linear-gradient(to bottom right, #242624, #91a7b8);

    color: white;
    text-align: center;
    margin: 3px;
}
.acciones{
      display: flex;
    justify-content: space-around;
}
.acciones p{
  color: white;
    border-radius: 17px;
    padding: 6px 27px;
    background: linear-gradient(to bottom right, #242624, #91a7b8);
}
.container-img-g{
  text-align: center;
    width: 135px;
}
.bf{
    border-radius: 7px;
    padding: 7px;
    background-color: bisque;
}
.user{
  color: white;
  margin: 0;
  font-weight: 600;
}
.edit-perfil{
  border-radius: 22px;
    padding: 5px 22px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.edit-perfil:hover{
  color: red;
  cursor: pointer;
}
