<div class="contenedor">
  <div class="box">
    <div class="caja">
      <nav>
        <a class="nav-link" routerLink="/main">INICIO</a>
        <a class="nav-link" routerLink="/galeria">IMAGENES</a>
        <a class="nav-link" routerLink="/videos">VIDEOS</a>
        <a class="nav-link" routerLink="/musica">MUSICA</a>
      </nav>
    </div>
    <!-- <div class="con-input">
      <div class="input-file-container">
        <input id="file-input" (change)="subirArchivo($event)" type="file" />
        <label for="file-input" class="file-label">
          <i class="fas fa-plus"></i>
          Agregar nuevo video
        </label>
      </div>
    </div> -->
    <div class="video-container">
      <div class="video">
        <div
          width="320"
          height="240"
          class="gallery-video"
          *ngFor="let video of videos"
        >
          <video controls>
            <source [src]="video.url" type="video/mp4" />
          </video>
          <div class="section">
            <div class="title">
              <p style="margin: 0">
                {{ video.nombre }}
              </p>
            </div>
            <div class="likes">
              <i
                style="cursor: pointer"
                class="far fa-thumbs-up"
                (click)="likeVideo(video)"
              ></i>
              <span>{{ video.likesCountVideo }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="modal" *ngIf="modal">
    <div class="modal-con">
      <span (click)="close()" class="fas fa-times lax"></span>
      <div style="text-align: center;">
        <p>
          Primero debes
          <a class="iniciar" (click)="salir()">Iniciar Sesion</a> o
          <a class="registrar" routerLink="/registrar">Registrate</a>
        </p>
      </div>
    </div>
  </div>
</div>
