<div style="color: white;
    text-decoration: none;" class="contenedor">
  <app-navbar-activate></app-navbar-activate>
  <div>
    <div style="text-align: center;">
      <h2 class="move">Bienvenidos a Activate</h2>
      <span class="move2">Sesión de Actividad Física Musicalizada</span>
    </div>
    <div>
      <img
        class="img-fondo"
        src="https://firebasestorage.googleapis.com/v0/b/fitpal-horario.appspot.com/o/fondos%2Factivate-logo.jpeg?alt=media&token=28baeec7-81b9-42a8-845d-3e226031f3ba"
        alt=""
      />
    </div>
    <a style="user-select: none; cursor: pointer ;position: absolute;
    bottom: 3%; color: black; text-decoration: none;" href="https://www.facebook.com/profile.php?id=100061274895674"><i class="fab fa-facebook-square"></i> Unete a nuestro grupo de Facebook.
      </a>
  </div>
</div>
