<div style="color: white" class="contenedor">
  <app-navbar-activate></app-navbar-activate>
  <div>
    <div style="text-align: center;">
      <h2>Bienvenidos a Activate</h2>
      <span>Sesión de Actividad Física Musicalizada</span>
    </div>
    <div>
      <img
        class="img-fondo"
        src="https://firebasestorage.googleapis.com/v0/b/fitpal-horario.appspot.com/o/fondos%2Factivate-logo.jpeg?alt=media&token=28baeec7-81b9-42a8-845d-3e226031f3ba"
        alt=""
      />
    </div>
  </div>
</div>
