 <div class="contenedor">
  <div class="box">
    <h1 class="titulo">Asi somos asi Bailamos Corinto</h1>
    <h2 class="welcome">Bienvenidos</h2>
    <p class="intro">Introduccion:</p>
    <div>
      <p class="align">
       Recopilacion de ensayos, presentaciones, eventos, imagenes y musica, de nuestros muchachos del municipio de corinto cauca.
      </p>
    </div>

    <ul>
      <li>
        <a routerLink="/galeria">Galeria</a>
      </li>
      <li>
        <a routerLink="/videos">Videos</a>
      </li>
      <li>
        <a routerLink="/musica">Musica</a>
      </li>
    </ul>
    <div class="msj">Gracias a todos espero lo disfruten tanto como yo!!.</div>
    <aside>
    <footer class="pie">
      <a class="foo" href="https://www.facebook.com/profile.php?id=100013672369598">Copyright &copy; Edwinkay cut 2022</a>
    </footer>
  </aside>
  </div>
 </div>

