<div class="contenedor" >
  <div class="box" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')', 'background-blend-mode': 'soft-light', 'background-size': 'cover' }">
    <app-navbar></app-navbar>
    <h1 class="titulo">Asi somos asi Bailamos Corinto</h1>
    <div>
      <p class="align">
        Sumérgete en el corazón de Corinto, Cauca, a través de esta conmovedora
        recopilación de ensayos, presentaciones, eventos, imágenes y música,
        protagonizados por nuestros queridos jóvenes. Cada momento capturado
        refleja la dedicación, el talento y la pasión de nuestros muchachos,
        quienes con su esfuerzo y creatividad han dejado una huella imborrable
        en nuestra comunidad.
      </p>
    </div>
    <div class="msj">Gracias a todos espero lo disfruten tanto como yo!!.</div>
    <aside>
      <footer class="pie">

        <a
          class="foo"
          href="https://www.facebook.com/profile.php?id=100013672369598"
          ><i class="fab fa-facebook-square"></i> by Edwin 2022</a
        >
      </footer>
    </aside>
  </div>
</div>
