.contenedor {
  padding: 20px;
}

.container-element {
  gap: 1rem;
  padding: 2px;
  bottom: 1rem;
  width: 90%;
  position: absolute;
  border-radius: 9px;
  background-color: #aa9e9e;
  display: flex;
  align-items: center;
}

.container-element textarea {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
  resize: vertical;
}

.container-element i {
  font-size: 20px;
  color: #555;
}

.container-info {
  display: flex;
  flex-direction: row;
  gap: 37px;
}

.mensajes-container {
  margin-top: 20px;
  overflow-y: auto;
    max-height: 75vh;
    margin-top: 20px;
}

.mensaje-entrante {
  background-color: #cccce9; /* Color de fondo para mensajes entrantes */
  border-radius: 15px;
  padding: 8px 12px;
  margin-bottom: 8px;
  width: 50%;
    position: relative;
}

.mensaje-saliente {
  text-align: end;
  background-color: #c6e8f8; /* Color de fondo para mensajes salientes */
  border-radius: 15px;
  padding: 8px 12px;
  margin-bottom: 8px;
  width: 50%;
    position: relative;
    left: 43%;
}
.mensaje-e{
  color:red
}
.mensaje-s{
  color:blue
}
